{{ define "main" }}
    <article role="main">
      {{ if .Params.img }}
        <img class="articleimg" src="/images/{{ .Params.img }}">
        <div class="imgattr">
          {{ .Params.imgattr | safeHTML }}
        </div>
      {{ end }}
      {{ .Content }}
    </article>
{{ end }}
