---
title: "L-glutamine"
description: "These are three fundamental things about the Internet that millions around the world do not know about. They will change the way you think about internet"
keywords: glutamine, sickle cell anemia
layout: "reveal"
---
<section>
  L-Glutamine in Sickle Cell Anemia
</section>
<section>
  <section>
    A PHASE III, PROSPECTIVE, RANDOMIZED, DOUBLE-BLIND, PLACEBO-CONTROLLED, PARALLEL-GROUP, MULTICENTER STUDY OF L GLUTAMINE THERAPY FOR SICKLE CELL ANEMIA AND SICKLE ß0-THALASSEMIA
  </section>
  <section>
    Yutaka Niihara, Han A. Koh, Lan Tran, Rafael Razon, Henry Macan, Charles Stark, Ted Wun and Patricia Adams-Graves
  </section>
  <section data-background-image="http://www.bloodjournal.org/sites/default/files/blood_logo_2017.png" data-background-size="contain" data-background-position="top right">
    <h3>Blood Journal - American Society of Hematology</h3>
    <p>Blood 2014 124:86</p>
  </section>
</section>
<section>
  <section>
    <h1>Sickle Cell Disease</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Sicklecells.jpg" alt="Sickle Cells">
  </section>
  <section>
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4b/1911_Sickle_Cells.jpg" alt="" height="500vh">
    <p class="caption">By OpenStax College - Anatomy & Physiology, Connexions Web site. http://cnx.org/content/col11496/1.6/, Jun 19, 2013., CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=30148180</p>
  </section>
  <section>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Sickle_cells.jpg" alt="" height="500vh">
    <p class="caption">By Dr Graham Beards - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=18421017</p>
  </section>
  <section>
    Sickle shape = More Rigid, Less Flexible = More Hemolysis, Blockage of blood flow
  </section>
  <section>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Sickle_cell_01.jpg" height="500vh" alt="">
  </section>
</section>
<section>
  <section>
    Mutation
  </section>
  <section>
    <p>single-nucleotide polymorphism (A to T) of the β-globin gene</p>
    <p class="fragment">glutamic acid (E/Glu) being substituted by valine (V/Val) at position 6. (7)</p>
    <p class="fragment">= HbS</p>
    <p class="fragment">under normal oxygen concentration = no effect</p>
    <p class="fragment">under conditions of low oxygen concentration = polymerization of the HbS</p>
  </section>
  <section>
    <p>The deoxy form of haemoglobin exposes a hydrophobic patch on the protein between the E and F helices. The hydrophobic side chain of the valine residue at position 6 of the beta chain in haemoglobin is able to associate with the hydrophobic patch, causing HbS molecules to aggregate and form fibrous precipitates.</p>
  </section>
</section>
<section>
  <section>
    Complications
  </section>
  <section>
    <h3>Vaso-Occlusive Crisis</h3>
    <p>The vaso-occlusive crisis is caused by sickle-shaped red blood cells that obstruct capillaries and restrict blood flow to an organ resulting in ischaemia, pain, necrosis, and often organ damage.</p>
  </section>
  <section>
    <h3>Acute Chest Syndrome</h3>
    <p>Acute chest syndrome is often precipitated by a lung infection, and the resulting inflammation and loss of oxygen saturation leads to further sickling of red cells, thus exacerbating pulmonary and systemic hypoxemia, sickling, and vaso-occlusion.</p>
  </section>
  <section>
    <h3>Splenic Sequestration Crisis</h3>
    <p>Splenic sequestration crises are acute, painful enlargements of the spleen, caused by intrasplenic trapping of red cells and resulting in a precipitous fall in haemoglobin levels with the potential for hypovolemic shock.</p>
  </section>
  <section>
    <h3>Aplastic Crisis</h3>
    <p>This crisis is normally triggered by parvovirus B19, which directly affects production of red blood cells by invading the red cell precursors and multiplying in and destroying them. Parvovirus infection almost completely prevents red blood cell production for two to three days. The shortened red cell life of SCD patients results in an abrupt, life-threatening situation. There is reticulocytopenia, and the rapid turnover of red cells leads to the drop in haemoglobin.</p>
  </section>
</section>
<section>
  <section>
    <h1>Background</h1>
  </section>
  <section>
    <a href="http://www.bloodjournal.org/content/71/2/512.long?sso-checked=true">1988</a>: Sickle RBCs have a decrease in NAD redox potential that may be a reflection of their increased oxidant sensitivity. The changes in these pyridine nucleotides may have further metabolic consequences for the sickle erythrocyte.
  </section>
  <section data-background-image="https://upload.wikimedia.org/wikipedia/commons/b/b5/NAD_oxidation_reduction.svg" data-background-size="contain">
  </section>
  <section>
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/9242370">1997</a>: sickle RBCs have an increased glutamine availability and affinity that may facilitate the increase in total NAD in sickle RBCs.
  </section>
  <section>
    <a href="http://onlinelibrary.wiley.com/doi/10.1002/(SICI)1096-8652(199806)58:2%3C117::AID-AJH5%3E3.0.CO;2-V/pdf">1998 December</a>: We hypothesized, in conjunction  with  these  data,  that  supplemental  glutamine  may increase the activity of NAD synthesis, thereby countering  the  oxidant-dependent  pathophysiology  of  sickle RBC
  </section>
  <section>
    Oral L-Glutamine Therapy for Sickle Cell Anemia: I. Subjective Clinical Improvement and Favorable Change in Red Cell NAD Redox Potential
  </section>
  <section>
    <a href="https://www.biomedcentral.com/1471-2326/5/4#B10">2004</a>: L-Glutamine therapy reduces endothelial adhesion of sickle red blood cells to human umbilical vein endothelial cells
  </section>
</section>
<section>
  <section>
    <h1><a href="https://clinicaltrials.gov/ct2/show/NCT01179217">Study</a></h1>
  </section>
  <section>
    <h2>Method</h2>
  </section>
  <section>
    A randomized (2:1), double-blind, placebo-controlled, parallel-group trial was conducted at 31 sites across the United States. Subjects were stratified by hydroxyurea usage.
  </section>
  <section>
    <p>Eligibility criteria included patients ≥ 5 years of age with documented diagnoses of HbSS or HbS/β0-thalassemia with at least two documented episodes of sickle cell crises (SCC) diagnosed in a medical facility during the 12 months prior to screening. </p>
    <p class="fragment">Pregnant women and patients with uncontrolled liver disease or renal insufficiency were excluded. </p>
  </section>
  <section>
    <p>Prescription grade L-glutamine at 0.6 g/kg/day (max 30 g), or placebo, was taken in two divided doses. Daily dose was rounded to the closest 10 g.</p>
    <p class="fragment">The study drug was given for 48 weeks, then was tapered to zero over 3 weeks and a final evaluation visit was made 2 weeks after last dose. </p>
  </section>
  <section>
    <p>The primary endpoint was number of SCC</p>
    <p class="fragment">Secondary endpoints include rates of hospitalization and adverse events; additional analyses include cumulative hospital days, incidence of acute chest syndrome (ACS) and time to first crises.</p>
  </section>
</section>
<section>
  <section>
    <h2>Results</h2>
  </section>
  <section>
    A total of 230 patients were enrolled; ages 5-58; 53.9 % female. 152 were assigned to L-glutamine and 78 to placebo; the groups were well balanced for clinical characteristics.
  </section>
  <section>
    The median incidence of SCC was significantly lower in the treatment group compared to the placebo group (3 events vs. 4 respectively; p=0.008)
  </section>
  <section>
    The median incidence of hospitalization was significantly lower in the treatment group compared to placebo group (2 events vs. 3 events respectively; p=0.005)
  </section>
  <section>
    Median cumulative hospital days were significantly lower by 41% in the treatment group (6.5 days) compared to the placebo group (11 days) (p=0.022)
  </section>
  <section>
    11.9 % of the L-glutamine group and 26.9% of the placebo group were affected by acute chest syndrome (ACS) (p=0.006).
  </section>
  <section>
    The median time to first crisis was 54 days in placebo group and 87 days in treatment group (p=0.010).
  </section>
  <section>
    Adverse events in the treatment arm were similar to those observed in the placebo arm.
  </section>
  <section>
    Statistically significant improvements for the frequency of painful crises and hospitalization persisted with <a href="Statistically significant improvements for the frequency of painful crises and hospitalization persisted with analysis stratified by hydroxurea use, age, and gender.">analysis stratified by hydroxurea use, age, and gender.</a>
  </section>
  <section>
    <h2>Conclusion</h2>
  </section>
  <section>
    This Phase 3 study in SCD demonstrated that treatment with prescription grade L-glutamine provided clinical benefit over placebo by reducing the frequency of painful crises and hospitalization. Additional clinical benefit was observed when evaluating ACS, time to first crises and duration of hospital stay. There was no increase in adverse events compared to placebo. Prescription oral L-glutamine is easy to administer and does not require special monitoring.
  </section>
</section>
<section>
  <section>
    <h2>Implication</h2>
  </section>
  <section>
    On July 7, 2017, the U.S. Food and Drug Administration approved L-glutamine oral powder (Endari, Emmaus Medical, Inc.) for oral administration to reduce the acute complications of sickle cell disease in adult and pediatric patients 5 years and older.
  </section>
  <section>
    Dosage
    <table>
      <tbody>
        <tr>
          <th>Weight (kg)</th>
          <th>Dose per day (divided into two)</th>
        </tr>
        <tr>
          <td>less than 30</td>
          <td>10g</td>
        </tr>
        <tr>
          <td>30 to 65</td>
          <td>20g</td>
        </tr>
        <tr>
          <td>greater than 65</td>
          <td>30g</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <p>India?</p>
    <p class="fragment"><a href="https://www.1mg.com/search/all?name=l-glutamine">1mg search</a></p>
  </section>
</section>
<section>
  <h3>The End (of Pain?)</h3>
  <p>Questions can be addressed to</p>
  <p>Akshay S Dinesh</p>
  <p>@<a href="https://twitter.com/asdofindia">asdofindia</a> on twitter</p>
  <p><a href="mailto:asdofindia@gmail.com">asdofindia@gmail.com</a></p>
  <br>
  <p>Canonical source of this presentation: <a href="https://learnlearn.in/presentations/glutamine-sickle/
">https://learnlearn.in/presentations/glutamine-sickle/</a></p>
</section>
