---
title: "Why do People Living With HIV/AIDS Fall Sick?"
description: "The reasons of hospitalization of PLHA in a rural center in Karnataka, India"
keywords: plhiv, hiv, plha, hospitalization, research, qualitative study
layout: "reveal"
---
<section>
    <a href="https://docs.google.com/document/d/1KligCJkIqP_kcDMAMJLoLGSj0hT-boEEuMKUt1nawZc/edit?usp=sharing"> A Qualitative Study on Why People Living With HIV/AIDS get Hospitalized at a Rural Center in India</a>
</section>
<section>
    My FHM thesis, for review by IRB
</section>
<section>
    <section>
        <h1>Background</h1>
    </section>
    <section>
        Hospitalizations happen because of:
        <p class="fragment">
            Opportunistic Infections and Bacterial Infections
        </p>
        <p class="fragment">
            Drug toxicities
        </p>
        <p class="fragment">
            IRIS
        </p>
        <p class="fragment">
            Others
        </p>
    </section>
    <section>
        But why do these happen?
    </section>
    <section>
        <img alt="Causal Network of Hospitalization in PLHA" src="../../images/causal-network-hospitalization-plha.png"/>
    </section>
    <section>
        What is the narrative here? What does the patient say?
    </section>
</section>
<section>
    <section>
        Why do this?
    </section>
    <section>
        <h1>Chronic Disease</h1>
        <p class="fragment">
           More drugs
        </p>
        <p class="fragment">
           Less deaths
        </p>
    </section>
    <section>
        The answer is hidden in the details?
    </section>
</section>
<section>
    <h1>Objective</h1>
    <p class="fragment">
        Explore the reasons of and build a narrative on why and how people living with HIV/AIDS fall sick and become hospitalized at a rural center in Karnataka, India
    </p>
</section>
<section>
    <section>
        <h1>Methodology</h1>
    </section>
    <section>
        Qualitative study
        <p class="fragment">
            Focus group discussions and Interviews
        </p>
    </section>
    <section>
        Included
        <p class="fragment">
            Adults (>18 years) living with HIV/AIDS who are hospitalized due to HIV related illness.
        </p>
    </section>
    <section>
        Excluded
        <p class="fragment">
            If the patient is too sick to participate (oxygen dependent, unstable vitals).
        </p>
    </section>
    <section>
        Sampling
        <p class="fragment">
            Convenient sampling will be done
        </p>
    </section>
</section>
<section>
    <section>
        <a href="https://docs.google.com/document/d/1Qhgz4FWkzNVsj_87NezFlBULApiHqTIqhUmGaekLLks/edit?usp=sharing">Consent</a>
    </section>
    <section>
        <a href="https://docs.google.com/document/d/1wAuiGtcjT4sxhtjzDL_32BKJlSBySfT1WKk407ej4tA/edit?usp=sharing">Interview guide</a>
    </section>
</section>
<section>
    <section>
        <h1>Ethical Issues</h1>
    </section>
    <section>
        Confidentiality
    </section>
    <section>
        Family issues
    </section>
    <section>
        Privacy
    </section>
    <section>
        Sensitive topics
    </section>
</section>
<section>
    <h1>What out of it?</h1>
</section>
