{{ partial "share.html" . }}
<footer id="footer" class="separator separatorpipe">
    <a href="/keep-in-touch/#comments">Comment</a>
    <a href="/about/">About</a>
    <a href="/"> Home</a>
    <a href="https://asd.learnlearn.in">Follow ASD</a>
    <br>
    <form id="ducksearch" name="ducksearch" action="https://duckduckgo.com/" target="_top">
      <input type="search" class="search-bar" autocomplete="off" name="q" id="searchinput"  placeholder="Search this site" value=" site:learnlearn.in "/>
      <input id="search_button_homepage" type="submit" value="Duck!"/>
    </form>
  </footer>
 
